body {
    /* background-color: #6F5D7B; */
    background-color: #242A47;
    font-family: 'Inter';
    color: rgb(207, 207, 207)
}
.nav1 {
    margin: 50px;
    padding: 20px;
    background-color: #6f5d7b;
    border: 1px black solid;
    width: 23%;
    box-shadow: 10px 10px black;
}
.nav1 span {
    font-size: 40px;
}
.nav2 {
    border: 1px black solid;
    background-color: #6f5d7b;
    box-shadow: 10px 10px black;
    margin: 0;
}
.nav2 ul {
    list-style: none;
}
.nav2 a {
    text-decoration: none;
    color: rgb(207, 207, 207);
}
.nav2 a:visited {
    text-decoration: none;
}
.nav2 ul {
    display: flex;
}
.nav2 li {
    padding-right: 30px;
    font-size: 35px;
}
.main {
    
    width: 55%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 60% 25%;
    gap: 15%;
    
}
.blogBoxContainer {
    display: flex;
    flex-direction: column;
    
}
.blogBox {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #6f5d7b;
    box-shadow: 10px 10px black;
    
}
.blogTitle {
    font-size: 35px;
    border-bottom: 3px #242A47 solid;
    padding: 5px;
}   
.blogData {
    font-size: 25px;
    padding: 20px;
    
}
.blogBoxTitle {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
}
/* .widgetContainer {
    
} */
.widget {
    padding: 30px;
    background-color: #6f5d7b;
    height: 90%;
    box-shadow: 10px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.widgetTitle {
    font-size: 30px;
}
.widgetName {
    font-size: 30px;
}
.widgetInfo {
    font-size: 20px;
}
.widgetImg {
    width: 200px;
    border-radius: 100%;
}